<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call &amp; chat."
    />
    <meta
      name="keywords"
      content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template"
    />
    <meta
      name="author"
      content="Practo Clone HTML Template - Doctor Booking Template"
    />
    <meta property="og:url" content="https://sWXyMdGMx9Jp.com/html/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Doctors Appointment HTML Website Templates | Doccure"
    />
    <meta
      property="og:description"
      content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call &amp; chat."
    />
    <meta property="og:image" content="assets/img/preview-banner.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="https://sWXyMdGMx9Jp.com/html/" />
    <meta property="twitter:url" content="https://sWXyMdGMx9Jp.com/html/" />
    <meta
      name="twitter:title"
      content="Doctors Appointment HTML Website Templates | Doccure"
    />
    <meta
      name="twitter:description"
      content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call &amp; chat."
    />
    <meta name="twitter:image" content="assets/img/preview-banner.jpg" />
    <title>HealthSync</title>

    <link type="image/x-icon" href="assets/img/favicon.png" rel="icon" />

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css" />

    <link rel="stylesheet" href="assets/css/feather.css" />

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css" />

    <link rel="stylesheet" href="assets/css/aos.css" />

    <link rel="stylesheet" href="assets/css/custom.css" />
  </head>
  <body>
    <div class="main-wrapper home-three">
      <header class="header header-trans header-three header-eight">
        <div class="container">
          <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
              <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </a>
              <a href="index.html" class="navbar-brand logo">
                <img
                  src="assets/img/image 1.png"
                  class="img-fluid"
                  alt="Logo"
                />
              </a>
            </div>
            <div class="main-menu-wrapper">
              <div class="menu-header">
                <a href="index.html" class="menu-logo">
                  <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
                </a>
                <a
                  id="menu_close"
                  class="menu-close"
                  href="javascript:void(0);"
                >
                  <i class="fas fa-times"></i>
                </a>
              </div>
              <ul class="main-nav">
                <li class="has-submenu megamenu active">
                  <a href="javascript:void(0);">Home </a>
                </li>
                <li class="has-submenu">
                  <a href="javascript:void(0);">Doctors </a>
                </li>
                <li class="has-submenu">
                  <a href="javascript:void(0);">About Us </a>
                </li>
              </ul>
            </div>
            <ul class="nav header-navbar-rht">
              <li class="contact-item">
                <i class="fa-solid fa-phone"></i
                ><span>Contact :</span>+9999999999
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <section class="doctor-search-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 aos" data-aos="fade-up">
              <div class="doctor-search">
                <div class="banner-header">
                  <h2><span>Search Hospital,</span> Make an Appointment</h2>
                  <p>
                    Access to expert physicians and surgeons, advanced
                    technologies and top-quality surgery facilities right here.
                  </p>
                </div>
                <div class="doctor-form">
                  <form action="#" class="doctor-search">
                    <div class="input-box-twelve">
                      <div class="search-input input-block">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Location"
                        />
                        <a
                          class="current-loc-icon current_location"
                          href="javascript:void(0);"
                        >
                          <i class="fa-solid fa-location-crosshairs"></i>
                        </a>
                      </div>
                      <div class="search-input input-block">
                        <select class="select form-control">
                          <option>Select Department</option>
                          <option>Cardiology</option>
                          <option>Neurology</option>
                          <option>Urology</option>
                        </select>
                        <a
                          class="current-loc-icon current_location"
                          href="javascript:void(0);"
                        >
                          <i class="fa-solid fa-user-check"></i>
                        </a>
                      </div>
                      <div class="input-block">
                        <div class="search-btn-info">
                          <a
                            href="/opd-Frontend/select hosp/7oroof.com/demos/medcity/appointment.html"
                            ><i class="fa-solid fa-magnifying-glass"></i
                            >Search</a
                          >
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-5 aos" data-aos="fade-up">
              <img
                src="assets/img/hosp.webp"
                class="img-fluid dr-img"
                alt="doctor-image"
                style="border-radius: 100px"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="clinics-section">
        <div class="shapes">
          <img
            src="assets/img/shapes/shape-1.png"
            alt="shape-image"
            class="img-fluid shape-1"
          />
          <img
            src="assets/img/shapes/shape-2.png"
            alt="shape-image"
            class="img-fluid shape-2"
          />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
              <div class="section-heading">
                <h2>Specialities</h2>
                <p>
                  Access to expert physicians and surgeons, advanced
                  technologies and top-quality surgery facilities right here.
                </p>
              </div>
            </div>
            <div class="col-md-6 text-end aos" data-aos="fade-up">
              <div class="owl-nav slide-nav-1 text-end nav-control"></div>
            </div>
          </div>
          <div class="owl-carousel clinics owl-theme aos" data-aos="fade-up">
            <div class="item">
              <div class="clinic-item">
                <div class="clinics-card">
                  <div class="clinics-img">
                    <img
                      src="assets/img/clinic/clinic-1.jpg"
                      alt="clinic-image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="clinics-info">
                    <span class="clinic-img">
                      <img
                        src="assets/img/category/category-01.svg"
                        alt="kidney-image"
                        class="img-fluid"
                      />
                    </span>
                    <a href="#"><span>Urology</span></a>
                  </div>
                </div>
                <div class="clinics-icon">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="clinic-item">
                <div class="clinics-card">
                  <div class="clinics-img">
                    <img
                      src="assets/img/clinic/clinic-2.jpg"
                      alt="clinic-image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="clinics-info">
                    <span class="clinic-img">
                      <img
                        src="assets/img/category/category-02.svg"
                        alt="bone-image"
                        class="img-fluid"
                      />
                    </span>
                    <a href="#"><span>Orthopedic</span></a>
                  </div>
                </div>
                <div class="clinics-icon">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="clinic-item">
                <div class="clinics-card">
                  <div class="clinics-img">
                    <img
                      src="assets/img/clinic/clinic-4.jpg"
                      alt="client-image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="clinics-info">
                    <span class="clinic-img">
                      <img
                        src="assets/img/category/category-03.svg"
                        alt="heart-image"
                        class="img-fluid"
                      />
                    </span>
                    <a href="#"><span>Cardiologist</span></a>
                  </div>
                </div>
                <div class="clinics-icon">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="clinic-item">
                <div class="clinics-card">
                  <div class="clinics-img">
                    <img
                      src="assets/img/clinic/clinic-3.jpg"
                      alt="client-image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="clinics-info">
                    <span class="clinic-img">
                      <img
                        src="assets/img/category/category-04.svg"
                        alt="teeth-image"
                        class="img-fluid"
                      />
                    </span>
                    <a href="#"><span>Dentist</span></a>
                  </div>
                </div>
                <div class="clinics-icon">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="clinic-item">
                <div class="clinics-card">
                  <div class="clinics-img">
                    <img
                      src="assets/img/clinic/clinic-5.jpg"
                      alt="client-image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="clinics-info">
                    <span class="clinic-img">
                      <img
                        src="assets/img/category/category-05.svg"
                        alt="brain-image"
                        class="img-fluid"
                      />
                    </span>
                    <a href="#"><span>Neurology</span></a>
                  </div>
                </div>
                <div class="clinics-icon">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="clinic-item">
                <div class="clinics-card">
                  <div class="clinics-img">
                    <img
                      src="assets/img/clinic/clinic-1.jpg"
                      alt="clinic-image"
                      class="img-fluid"
                    />
                  </div>
                  <div class="clinics-info">
                    <span class="clinic-img">
                      <img
                        src="assets/img/category/category-06.svg"
                        alt="heart-image"
                        class="img-fluid"
                      />
                    </span>
                    <a href="#"><span>Cardiologist</span></a>
                  </div>
                </div>
                <div class="clinics-icon">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="specialities-section">
        <div class="shapes">
          <img
            src="assets/img/shapes/shape-3.png"
            alt="shape-image"
            class="img-fluid shape-3"
          />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 aos" data-aos="fade-up">
              <div class="section-heading bg-area">
                <h2>Browse by Specialities</h2>
                <p>Find experienced doctors across all specialties</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/1.png"
                    alt="kidney-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Urology</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/2.png"
                    alt="bone-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Orthopedic</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/4.png"
                    alt="heart-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Cardiologist</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/5.png"
                    alt="brain-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Dentist</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/3.png"
                    alt="brain-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Neurology</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/6.png"
                    alt="bone-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Pediatrist</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/7.png"
                    alt="heart-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Veterinary</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
              <div class="specialist-card d-flex">
                <div class="specialist-img">
                  <img
                    src="assets/img/category/8.png"
                    alt="kidney-image"
                    class="img-fluid"
                  />
                </div>
                <div class="specialist-info">
                  <a href="#">
                    <h4>Psychiatrist</h4>
                  </a>
                </div>
                <div class="specialist-nav ms-auto">
                  <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer footer-three">
        <div class="footer-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-about">
                  <div class="footer-logo">
                    <img src="assets/img/image 1.png" alt="logo" />
                  </div>
                  <div class="footer-about-content">
                    <p>
                      Effortlessly schedule your medical appointments with
                      HealthSync. Connect with healthcare professionals, manage
                      appointments &amp; prioritize your well being
                    </p>
                    <div class="social-icon">
                      <ul>
                        <li>
                          <a href="javascript:void(0);"
                            ><i class="fa-brands fa-facebook"></i
                          ></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            ><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            ><i class="fab fa-linkedin-in"></i
                          ></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            ><i class="fab fa-instagram"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Patients</h2>
                  <ul>
                    <li><a href="search.html">Search for Hospitals</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="booking.html">Booking</a></li>
                    <li>
                      <a href="patient-dashboard.html">Patient Dashboard</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-menu">
                  <h2 class="footer-title">For Doctors</h2>
                  <ul>
                    <li><a href="appointments.html">Appointments</a></li>
                    <li><a href="chat.html">Chat</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="doctor-register.html">Register</a></li>
                    <li>
                      <a href="doctor-dashboard.html">Doctor Dashboard</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-contact">
                  <h2 class="footer-title">Contact Us</h2>
                  <div class="footer-contact-info">
                    <div class="footer-address">
                      <span><i class="fas fa-map-marker-alt"></i></span>
                      <p>India , NewDehi, <br /></p>
                    </div>
                    <p>
                      <i class="fa-solid fa-mobile-screen-button"></i>+999999999
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="container-fluid">
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0">
                      Copyright © 2024 Doccure. All Rights Reserved
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li>
                        <a href="terms-condition.html">Terms and Conditions</a>
                      </li>
                      <li><a href="privacy-policy.html">Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="mouse-cursor cursor-outer"></div>
      <div class="mouse-cursor cursor-inner"></div>
    </div>

    <div class="progress-wrap active-progress">
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path
          d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
          style="
            transition: stroke-dashoffset 10ms linear 0s;
            stroke-dasharray: 307.919px, 307.919px;
            stroke-dashoffset: 228.265px;
          "
        ></path>
      </svg>
    </div>

    <script
      data-cfasync="false"
      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script
      src="assets/js/jquery-3.7.1.min.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/bootstrap.bundle.min.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/owl.carousel.min.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/slick.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/moment.min.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>
    <script
      src="assets/js/bootstrap-datetimepicker.min.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/plugins/select2/js/select2.min.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/backToTop.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/aos.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>

    <script
      src="assets/js/script.js"
      type="e9f972825f9b076ea9d513fd-text/javascript"
    ></script>
    <script
      src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="e9f972825f9b076ea9d513fd-|49"
      defer=""
    ></script>
  </body>
</html>
